<template>
  <div class="home">
    <div class="leaderboard">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Takım Adı</th>
            <th>Oynadığı</th>
            <th>Mağlubiyet</th>
            <th>Galibiyet</th>
            <th>Beraberlik</th>
            <th>Attığı</th>
            <th>Yediği</th>
            <th>Puan</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="team in teams">
            <th> {{team.name}} </th>
            <th> {{team.played}} </th>
            <th> {{team.lost}} </th>
            <th> {{team.won}} </th>
            <th> {{team.drawn}} </th>
            <th> {{team.gf}} </th>
            <th> {{team.ga}} </th>
            <th> {{team.pts}} </th>
          </tr>
          <div class="buttons">
            <a class="button is-success is-small" v-if="ena" @click="nextWeek(thisWeek)">Next Week</a>
            <a class="button is-primary is-small" v-if="dis" disabled>Next Week</a>
            <a class="button is-danger is-small" v-if="all"  @click="playAll(thisWeek)">Play All</a>
            <a class="button is-danger is-small" v-if="!all" disabled>Play All</a>
          </div>
        </tbody>
      </table>
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <tbody>
          <tr class="tr" v-for="i,index in matchs">
            <th>
              {{i.home}} {{i.hGf}} - {{i.aGf}} {{i.away}}
            </th>
          </tr>
          <a class="button is-info is-small" v-if="this.matchs.length>0" @click="reset">Clear All</a>
        </tbody>
      </table>
      <!-- <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <tbody>
          <tr class="tr" v-if="rate" v-for="team in champRate">
            <th>
              {{team.name}} %{{team.rate}} Şampiyon
            </th>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</template>

<script>

export default {
  name: 'home',
  data(){
    return{
      all:true,
      thisWeek:0,
      ena:true,
      dis:false,
      rate:false,
      champRate:[],
      matchs:[],
      teams:[
        {id:0,name:'Manchester City',played:0,lost:0,won:0,drawn:0,gf:0,ga:0,pts:0,apower:87,dpower:88},
        {id:1,name:'Liverpool',played:0,won:0,lost:0,drawn:0,gf:0,ga:0,pts:0,apower:85,dpower:83},
        {id:2,name:'Chelsea',played:0,won:0,lost:0,drawn:0,gf:0,ga:0,pts:0,apower:84,dpower:84},
        {id:3,name:'Arsenal',played:0,won:0,lost:0,drawn:0,gf:0,ga:0,pts:0,apower:80,dpower:85}
      ],
      weeks:[ //
        [
          [0,3],[1,2] // 1. hafta
        ],
        [
          [3,0],[2,1] // 2. hafta
        ],
        [
          [1,3],[2,0] // 3. hafta
        ],
        [
          [3,1],[0,2] // 4. hafta
        ],
        [
          [0,1],[3,2] // 5. hafta
        ],
        [
          [1,0],[2,3] // 6. hafta
        ]
      ]
    }
  },
  methods:{
    // weekFour(t1,t2,t3,t4){ // 4. hafta max pts 12
    //   if (t1.pts-t2.pts >= 6) { // bir maçı kazanma,beraberlik,yenilgi oranı 1/3
    //     this.champRate.push({name:t1.name,rate:100},{name:t2.name,rate:0},{name:t3.name,rate:0},{name:t4.name,rate:0})
    //     localStorage.setItem(('champRate'),JSON.stringify(this.champRate))
    //   }
    // },
    // weekFive(t1,t2,t3,t4){
    //   if (t1.pts-t2.pts>3) {
    //     this.champRate.push({name:t1.name,rate:100},{name:t2.name,rate:0},{name:t3.name,rate:0},{name:t4.name,rate:0})
    //     localStorage.setItem(('champRate'),JSON.stringify(this.champRate))
    //   }
    //   if (t1.pts-t2.pts == 0) {
    //     var t1Rate = 100 - ((1/3*2/3))*100 // t1 kazanacak yada berabere kalacak t2 kaybedecek
    //     var t2Rate = t1Rate
    //     this.champRate.push({name:t1.name,rate:t1Rate},{name:t2.name,rate:t2Rate})
    //     if (t2.pts-t3.pts > 3 || t2.pts-t4.pts > 3) {
    //       this.champRate.push({name:t3.name,rate:0},{name:t4.name,rate:0})
    //       localStorage.setItem(('champRate'),JSON.stringify(this.champRate))
    //     }
    //   }
    //   if (t1.pts-t2.pts<3) {
    //     if (t1.pts-t2.pts == 1) {
    //       var t1Rate = 100 - ((1/3+1/3) * (1/3+1)) * 100 // t1 berabere t2 kaybedecek veya t1 kazanacak t2 kaybedecek berabere kalacak kazanacak
    //       var t2Rate = 100 - (1/3+1/3) * 100 // t1 kaybedecek ve t2 kazanacak
    //       if (t1.pts-t3.pts>3) {
    //         var t3Rate = 0
    //         var t4Rate = 0
    //       }
    //       if (t1.pts-t3.pts<3) {
    //         if (t2.pts == t3.pts && t2.pts == t4.pts) {
    //           var t3Rate = t2Rate
    //           var t4Rate = t2Rate
    //         }
    //       }
    //       if (t1.pts-t3.pts>3) {
    //         var t3Rate = 0
    //         var t4Rate = 0
    //       }
    //       this.champRate.push({name:t1.name,rate:t1Rate},{name:t2.name,rate:t2Rate},{name:t3.name,rate:t3Rate},{name:t4.name,rate:t4Rate})
    //       localStorage.setItem(('champRate'),JSON.stringify(this.champRate))
    //     }
    //     if (t1.pts-t2.pts == 2) {
    //       // t1 in şampiyonluk oranı
    //       var t1Rate = 100 - (1/3) * 100 // fark ikiyse t1 in kazanması kesin şampiyonluk sağlar
    //       var t2Rate = 100 - (1/3+1/3) * 100  // t1 kaybedecek t2 kazanacak
    //       if (t2.pts == t3.pts) {
    //         var t3Rate = t2Rate
    //       }
    //       if (t2.pts == t4.pts) {
    //         var t4Rate = t2Rate
    //       }
    //       if (t2.pts-t3.pts == 1) {
    //         var t3Rate = 100 - ((1/3+2/3)*(1/3)) * 100   // t1 in kaybetmesi t2 nin kaybetmesi yada beraberlik ve t3 ün kazanması gerek
    //       }
    //       this.champRate.push({name:t1.name,rate:t1Rate},{name:t2.name,rate:t2Rate},{name:t3.name,rate:t3Rate},{name:t4.name,rate:t4Rate})
    //       localStorage.setItem(('champRate'),JSON.stringify(this.champRate))
    //     }
    //   }
    // },
    reset(){ // locali,oynanan maçları sıfırlar
      this.matchs = []
      this.teams = [
        {id:0,name:'Manchester City',played:0,lost:0,won:0,drawn:0,gf:0,ga:0,pts:0,apower:87,dpower:88},
        {id:1,name:'Liverpool',played:0,won:0,lost:0,drawn:0,gf:0,ga:0,pts:0,apower:85,dpower:83},
        {id:2,name:'Chelsea',played:0,won:0,lost:0,drawn:0,gf:0,ga:0,pts:0,apower:84,dpower:84},
        {id:3,name:'Arsenal',played:0,won:0,lost:0,drawn:0,gf:0,ga:0,pts:0,apower:80,dpower:85}
      ]
      localStorage.setItem(('matchs'),JSON.stringify(this.matchs))
      localStorage.setItem(('teams'),JSON.stringify(this.teams))
      this.ena = true
      this.all = true
      this.dis = false;
      this.rate = false;
      window.location.href = '/'
    },
    scoreCalculate(home,away){ // atılan gollerin hesaplanması
      var homeScore = parseInt((home.apower+home.dpower)/2 * Math.floor(Math.random(0)*5) * 1.25/100) // ev sahibiyse 1.25/100 deplasmansa 1/100
      var awayScore = parseInt((away.apower+away.dpower)/2 * Math.floor(Math.random(0)*5) * 1/100)
      this.pointCalculate(homeScore,awayScore,home,away)
      this.matchsOfWeek(homeScore,awayScore,home,away)
    },
    matchsOfWeek(hScore,aScore,home,away){ // haftanın maçlarını matchs objesine kaydı
        this.matchs.push({home:home.name,away:away.name,hGf:hScore,aGf:aScore})
        localStorage.setItem(('matchs'),JSON.stringify(this.matchs))
    },
    sortOfTeams(){
      this.teams.sort(function(a, b){ //descending sort
        return b.pts - a.pts
      })
    },
    saveStorage(home,away){ // ilgili takımın localde teamse kaydedilmesi
      for (var i = 0; i < this.teams.length; i++) {
        if (home.id == this.teams[i].id) {
          this.teams[i].pts = home.pts
          localStorage.setItem(('teams'),JSON.stringify(this.teams))
          break
        }
        if(away.id == this.teams[i].id){
          this.teams[i] = away
          localStorage.setItem(('teams'),JSON.stringify(this.teams))
          break
        }
      }
    },
    pointCalculate(homeScore,awayScore,home,away){
      if (homeScore > awayScore) { // home galibilyet
        home.gf += homeScore //home attigi
        home.ga += awayScore // home yedigi
        home.pts+=3 // home puan
        home.won +=1  // home galibiyet
        home.played +=1 // home oynadıgı

        away.gf += awayScore
        away.ga += homeScore
        away.played +=1
        away.lost +=1

        this.saveStorage(home,away)

      }
      else if(homeScore == awayScore){ // beraberlik
        home.gf += homeScore
        home.ga += awayScore
        home.drawn += 1
        home.pts += 1
        home.played += 1

        away.gf += awayScore
        away.ga += homeScore
        away.drawn += 1
        away.pts += 1
        away.played += 1

        this.saveStorage(home,away)
      }
      else{ // away galibiyet
        home.gf += homeScore
        home.ga += awayScore
        home.lost += 1
        home.played += 1

        away.gf += awayScore
        away.ga += homeScore
        away.won += 1
        away.played += 1
        away.pts += 3

        this.saveStorage(home,away)
      }
    },
    playAll(id){
      this.all = false
      this.ena = false
      this.dis = true
      for (var i = 0; i < this.weeks.length; i++) {
          // nextWeek'in aynısı sadece haftasal döngüye sokulmayacak
          for (var j = 0; j < this.weeks[id].length; j++) {
            var teamId = this.weeks[id][j]
            for (var k = 0; k < 2; k++) {
              var team1Id = teamId[k]
              var team2Id = teamId[k+1]
              for (var x = 0; x < this.teams.length; x++) {
                var home = this.teams[team1Id] // ev sahibi
                var away = this.teams[team2Id] // deplasman
                this.scoreCalculate(home,away)
                break
              }
              break
            }
          }
        this.sortOfTeams(); // puana göre sortlama
      }
      if (this.teams[0].pts == this.teams[1].pts) {
        alert(this.teams[0].name + ' ve ' + this.teams[1].name + ' aynı puanı topladı şampiyonluk maçı yapılacaktır. ')
      }else{
        alert('Şampiyon ' +this.teams[0].name)
      }
    },
    nextWeek(id){
      this.thisWeek++;
      this.all = false
      for (var i = 0; i < this.weeks.length; i++) {
        if (id == i) {
          // Her hafta için maçlar burada yapılacak
          for (var j = 0; j < this.weeks[id].length; j++) {
            var teamId = this.weeks[id][j]
            for (var k = 0; k < 2; k++) {
              var team1Id = teamId[k]
              var team2Id = teamId[k+1]
              for (var x = 0; x < this.teams.length; x++) {
                var home = this.teams[team1Id] // ev sahibi
                var away = this.teams[team2Id] // deplasman
                this.scoreCalculate(home,away)
                break
              }
              break
            }
          }
          if(id >= 3){
            //  şampiyonluk oranları
            this.rate = true;
            // if (id == 3) { // 4. hafta şampiyonluk tahminleri
            //   this.weekFour(this.teams[0],this.teams[1],this.teams[2],this.teams[3])
            // }
            // if (id == 4) { // 5. hafta şampiyonluk tahminleri
            //   this.weekFive(this.teams[0],this.teams[1],this.teams[2],this.teams[3])
            // }
          }
          if(id == 5){
            // 6. hafta bittikten sonra bidaha tıklanmaması için butonun disable edilmesi
            this.dis = true;
            this.ena = false
            // şampiyon ilanı
            alert('ŞAMPİYON '+this.teams[0].name)
          }
        }
        this.sortOfTeams(); // puana göre sortlama
      }
    }
  },
  mounted(){
    // localStorage.setItem(('teams'),JSON.stringify(this.teams))
    localStorage.setItem(('champRate'),JSON.stringify(this.champRate))
    this.teams = JSON.parse(localStorage.getItem('teams'));
    this.matchs = JSON.parse(localStorage.getItem('matchs'));
    this.champRate = JSON.parse(localStorage.getItem('champRate'));
  }

}
</script>

<style lang="scss" scoped>
  .home{
    width: 700px;
    margin-left:20px;
    margin-top: 10px;
    .buttons{
      &:first-child{
        margin-left: 0px;
      }
      margin-top: 10px;
    }
    .tr{
      margin-top: 10px;
    }
  }
</style>
