<template>
  <div id="app">
    <div id="nav">
      <div>
        <div class="modal is-active" v-if="show">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Futbol Simülasyonuna Hoşgediniz ({{c}}) </p>
              <button class="delete" @click="close" aria-label="close"></button>
            </header>
              <!-- Content ... -->
            <p class="image is-4by3">
              <img src="https://i.ytimg.com/vi/Juk8T_-lWgA/maxresdefault.jpg" alt="">
            </p>
          </div>
        </div>
      </div>

    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  data(){
    return{
      show:true,
      c:5
    }
  },
  methods:{
    close(){
      this.show = false;
    }
  },
  mounted(){
    var a = setInterval(() => {
      this.c--;
      if (this.c < 0) {
        clearInterval(a);
        this.show = false;
      }
    }, 1000);
  }
}
</script>


<style lang="scss">
.modal-card-title{
  text-align: center;
}
</style>
